name: Reusable Non-Spark Tests

on:
  workflow_call:
    inputs:
      scala-version:
        required: true
        type: string
        description: 'Scala version to test (e.g., 2.12.18 or 2.13.17)'

env:
  SCALA_VERSION: ${{ inputs.scala-version }}

jobs:
  flink_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run Flink tests
        run: |
          ./mill flink\[${{ env.SCALA_VERSION }}\].test

  aggregator_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run Aggregator tests
        run: |
          ./mill aggregator\[${{ env.SCALA_VERSION }}\].test

  online_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run Online tests
        run: |
          ./mill online\[${{ env.SCALA_VERSION }}\].test

  api_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run api tests
        run: |
          ./mill api\[${{ env.SCALA_VERSION }}\].test

  service_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run service tests
        run: |
          ./mill service\[${{ env.SCALA_VERSION }}\].test

  service_commons_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run service_commons tests
        run: |
          ./mill service_commons\[${{ env.SCALA_VERSION }}\].test

  cloud_gcp_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run cloud gcp tests
        run: |
          ./mill cloud_gcp\[${{ env.SCALA_VERSION }}\].test

  cloud_aws_tests:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/${{ github.repository }}-ci:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
    steps:
      - uses: actions/checkout@v4

      - name: Install curl
        run: |
          apt-get update && apt-get install -y curl

      - name: Run cloud aws tests
        run: |
          ./mill cloud_aws\[${{ env.SCALA_VERSION }}\].test
